# База даних (Паролі POSTGRES_PASSWORD та DB_APP_ADMIN_PASSWORD зчитуються з системних змінних ПК)
POSTGRES_DB=auth_db
POSTGRES_USER=postgres
POSTGRES_PORT=5433

# Технічний акаунт юзера додатку
DB_APP_USER=app_user
DB_APP_USER_PASSWORD=generate_strong_app_user_pass_here_32chars

DB_APP_ADMIN=app_admin

# Порти мікросервісів
AUTH_PORT=3001
